<%- include('../partials/header', { title }) %>

<form action="/dogs/<%= application.dog %>/applications/<%= application._id %>?_method=PUT" method="POST">
    <label>Name:
        <input type="text" name="name" value="<%=application.name%>">
    </label>
    <label>Phone:
        <input type="text" name="phone" value="<%=application.phone%>">
    </label>
    <label>Email:
        <input type="text" name="emailAddress" value="<%=application.emailAddress%>">
    </label>
    <label>Address:
        <input type="text" name="address" value="<%=application.address%>">
    </label>
    <button type="submit">Submit Application</button>
</form>

<%- include('../partials/footer') %>
