<%- include('../partials/header', { title }) %>
    <section class="dog-prof">
        <% dogs.forEach(d=> { %>
        <div class="card">
            <img class="dog-img" src="/images/<%=d.name%>.png" alt="dog-image">
            <h3><%= d.name %></h3>
            <p><%= d.breed %></p>
            <p><%= d.age %></p>
            <button id="view-btn"><a href="/dogs/<%=d._id%>">View Details</a></button>
            </div>
            <% }) %>
    </section>

    <%- include('../partials/footer') %>