<%- include('../partials/header', { title }) %>
    <section class="dog-prof">
        <% dogs.forEach(d=> { %>
        <div class="card">
            <img class="dog-img" src="https://i.imgur.com/UMD6R9e.jpg" alt="paw">
            <h3><%= d.name %></h3>
            <p><%= d.breed %></p>
            <p><%= d.age %></p>
            <button><a href="/dogs/<%=d._id%>">View</a></button>
            </div>
            <% }) %>
    </section>

    <%- include('../partials/footer') %>