<%- include('../partials/header', { title }) %>

    <h1 id="title">About <%= dog.name %>
    </h1>
    <main class="main-container">
        <section class="main-1">
            <img class="dog-img" src="/images/<%=dog.name%>.png" alt="dog-image">
        </section>
        <section class="main-2">
            <div>
                <p>Gender: <%= dog.gender %>
                </p>
                <p>Breed: <%= dog.breed %>
                </p>
                <p>Weight: <%= dog.weight %>lbs</p>
                <p>Age: <%= dog.age %>
                </p>
                <p>Adoption Fee: $<%= dog.adoptionFee %>
                </p>
            </div>
            <button id="new-app-btn"><a href="/dogs/<%=dog._id%>/applications/new">Apply to Adopt!</a></button>
        </section>
    </main>


    <h2 id="app-title">Applications</h2>

    <section class="applications">
        <% if (applications.length){ %>
            <%applications.forEach(function(a) { %>
                <div class="user-card">
                    <img class="app-user" alt="avatar" src="<%= a.userAvatar %>" referrerpolicy="no-referrer" />
    
                    <h3 class="user-name"><%= a.userName %></h3>
    
                    <% if (user?._id.equals(a.user)) { %>
                        <div class="user">
                            <h4>Phone:</h4>
                            <p><%= a.phone %></p>
        
                            <h4>Email:</h4>
                            <p><%= a.emailAddress %></p>
        
                            <h4>Address:</h4>
                            <p><%= a.address %></p>
        
                            <h4>Number of Pets Owned:</h4>
                            <p><%= a.numberOfPets %> pets</p>
                            <div id="btns">
                                <form  action="/applications/<%=a._id%>?_method=DELETE" method="POST">
                                    <input type="hidden" value="<%= dog._id %>" name="dog">
                                    <button  class="app-btn"type="submit">Delete</button>
                                </form>
            
                                <button class="app-btn"><a href="/applications/<%=a._id%>/edit">Edit</a></button>
                            </div>
                        </div>
                        <% } %>
                </div>
                        <% }); %>
                            <% } else { %>
                                <h4>No Applications Yet</h4>
                                <% } %>
    </section>




    <%- include('../partials/footer') %>